

body {
    margin: 0 !important;
    background-color: var(--surface-ground);
    line-height: 1.5;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    height: 72px;
    max-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px 16px 32px;
    position: fixed;
}

.header-holder {
    width: 100%;
    height: 72px;
    max-height: 72px;
}

.image {
    object-fit: contain;
}

.logo {
    max-height: 40px;
    border-radius: 8px;
}

.logo-text {
    margin-left: 8px;
    font-size: x-large;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.h-card {
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 60rem;
}

.h-footer {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-hero {
    max-width: 50rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-hero .title {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1.5;
}