
@import 'node_modules/modern-normalize/modern-normalize.css';

body {
    margin: 0 !important;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    height: auto;
    max-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px 16px 32px;
}

.image {
    object-fit: contain;
}

.logo {
    max-height: 40px;
}

.logo-text {
    margin-left: 8px;
    font-size: x-large;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}